.header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 14px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}

/* 로고 영역 */
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-icon {
  width: 50px;
  height: 50px;
}

.logo-right {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.logo-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.logo-blind {
  color: #C90000; 
}

.logo-rivet {
  color: #000000; 
}
.logo-subtitle {
  font-size: 0.8rem;
  color: #4D4D4D;
  margin-top: 0.2rem;
  font-weight: 400;
}

/* 네비게이션 */
.nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav li {
  cursor: pointer;
  font-size: 1rem;
  color: #333;
  transition: color 0.2s ease;
}

.nav li:hover,
.nav .active {
  color: #C90000;
}

/* Contact 버튼 */
.contact-btn {
  background: #C90000;
  color: #fff;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  transition: background 0.2s ease;
}

.contact-btn:hover {
  background: #C90000;
}
