.detail-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/*제품 누르면 뜨는 창*/
.detail-modal {
  background: linear-gradient(to bottom, #e59a9b, #ffffff);
  border-radius: 20px;
  width: 600px;
  overflow: visible; 
  text-align: center;
  position: relative;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
  animation: popup 0.3s ease-out;
  padding: 15px 15px;
  
}

@keyframes popup {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*영상*/
.video-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px; 
}

.detail-video {
  width: 100%;
  height: 100%;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

/* 닫기 */
.D-close-btn {
  position: absolute;

  top: 2px;


  right: 2px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 20000;
  display: flex;
  justify-content: center;
  align-items: center;
    overflow: visible; 
}

/* 닫기 버튼 이미지 */
.close-btn img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  transition: transform 0.2s ease;
}

.close-btn:hover img {
  transform: scale(1.1);
}

.detail-title {
  font-size: 1.35rem;
  font-weight: 700;
  margin: 1.3rem 0 0.4rem 0;
}

.detail-desc {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.5;
  margin: 0 1.4rem 1.2rem 1.4rem;
}

.btn-primary {
  background: #c63b2f;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.9rem 2.2rem;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 1rem auto 0.6rem auto;
  display: block;
}

.btn-primary:hover {
  background: #a92f25;
}

/* 하단 링크*/
.btn-link {
  background: none;
  border: none;
  color: #c63b2f;
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
  display: block;
  text-align: center;
  margin: 0.6rem auto 1.2rem auto;
}
