.product-section {
  width: 100%;
  background: #fff;
  padding: 80px 0;
}

.product-inner {
  width: 80%;
  margin: 0 auto;
  padding: 0 24px;
}

/* 상단 제목 + 서비스 설명 */
.section-header {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
      padding: 5px 15px;
}

.section-title {
  font-size: 2.3rem;
  font-weight: 600;
  color: #111;
}

.section-service h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #111;
  margin-bottom: 6px;
}

.section-service p {
  font-size: 0.95rem;
  color: #666666;
  line-height: 1.5;
}

/* 구분선 */
.divider-line {
  width: 100%;
  height: 0.8px;
  background: #83A790;
  margin: 30px 0 50px;
}

/* 슬라이드 */
.slider-block {
  position: relative;
  margin-bottom: 40px;
}

.slider-container {
  position: relative;
 overflow: visible;
  width: 100%;
}

.slider-wrapper {
  overflow: hidden;
  width: 100%;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease;
}

.slide-item {
  flex: 0 0 33.33%;
  padding: 0 12px;
  box-sizing: border-box;
}

/* 카드 */
.product-card {
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  transition: all 0.2s ease;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.product-card img {
  width: 100%;
  height: 250px;           /* ✅ 원하는 세로 높이로 잘라내기 */
  object-fit: cover;  
  border-radius: 30px;
  margin-bottom: 14px;
}

.product-card h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #111;
  margin-bottom: 6px;
}

.product-card p {
  color: #666666;
  font-size: 0.95rem;
  margin-bottom: 12px;
  line-height: 1.4;
}

.view-btn {
  background: #C90000;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 0.87rem;   
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
  padding: 7px 14px;
}

/* 버튼 */
.slide-btn {
  position: absolute;
  top: 32%;
  transform: translateY(-50%);
  background: #C90000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
  z-index: 2;
}

.slide-btn.left {
  left: 5px;
}

.slide-btn.right {
  right: 5px;
}

.slide-btn:hover {
  background: #C90000;
  transform: translateY(-50%) scale(1.1);
}
